@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Urbanist:wght@400;500;600;700&display=swap');

/* Definición de las variables para el CSS. */
:root {
    /* fonts */
    --font-Urbanist: 'Urbanist', sans-serif;
    --font-open-sans: "Open Sans";
    --font-Inter: "Inter";

    /* font sizes */
    --font-size-2xs: 12px;
    --font-size-xs: 14px;
    --font-size-sm: 15px;
    --font-size-base: 16px;
    --font-size-lg: 17px;
    --font-size-xl: 24px;

    /* Colors */
    --primary-black: #000;
    --primary-white: #fff;
    --color-gray-100: #f4f4f4;
    --color-gray-200: #d9dce0;
    --color-gray-300: #bbb;
    --color-gray-400: #afafaf;
    --color-gray-500: #757575;
    --colo-gray-600: #545454;
    --light-subtext: #7c7c7a;
    --background-50: rgba(255, 255, 255, 0.5);
    --secondary-blue: #276ef1;

    /* Gaps */
    --gap-md: 16px;

    /* Paddings */
    --padding-sm: 13px;
    --padding-md: 14px;
    --padding-lg: 16px;

    /* border radiuses */
    --br-md: 8px;
}

/* Establecer el relleno predeterminado, el margen, la familia de fuentes y el desbordamiento-x para
todos los elementos. */
* {
    padding: 0;
    margin: 0;
    font-family: var(--font-Urbanist);
    overflow-x: hidden;
}

/* Establecer el tamaño de fuente predeterminado al 62,5 % del tamaño de fuente predeterminado. */
html {
    font-size: 62.5%;
}

/* Ocultar la clase inactiva. */
.inactive {
    display: none;
}

/* Ajuste de la imagen de fondo al cuerpo. */
body {
    /*fondo*/
    width: 100vw;
    height: 100vh;
    background: url("../img/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

/* login */

main,
footer {
    margin: 0 2.4rem;
}

.content-titulo {
    margin: 4rem 2.4rem;
}

.titulo {
    font-weight: bold;
    font-size: 2.5rem;
}

.main-content_formulario {
    margin: 0 auto;
    width: auto;
    height: auto;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.formulario_input {
    background-color: var(--background-50);
    border: solid 2px var(--primary-white);

}

.formulario_input::placeholder {
    font-family: var(--font-Urbanist);
    font-weight: 500;
    color: var(--primary-black);
}

.formulario p {
    margin: 1rem 0;
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--colo-gray-600);
    text-decoration: none;
    align-self: flex-end;
}

.formulario_enviar,
.API_login-botón,
.footer-botón {
    color: var(--primary-white);
    background-color: var(--primary-black);
    border: none;
}

.formulario_enviar,
.formulario_input,
.API_login-botón {
    padding: 1.5rem;
    margin: 1rem 0;
    border-radius: var(--br-md);
    -webkit-border-radius: var(--br-md);
    -moz-border-radius: var(--br-md);
    -ms-border-radius: var(--br-md);
    -o-border-radius: var(--br-md);
}

.main-content_API_login {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.API_login-separadores {
    width: 7rem;
    height: 0.2rem;
    background-color: var(--colo-gray-600);
    border-radius: var(--br-md);
    -webkit-border-radius: var(--br-md);
    -moz-border-radius: var(--br-md);
    -ms-border-radius: var(--br-md);
    -o-border-radius: var(--br-md);
}

.API_login-titulo {
    font-family: var(--font-Inter);
    font-weight: var(--p-font-weight-semibold);
    color: var(--colo-gray-600);
}

.API_login-botón {
    margin: 1rem auto;
    padding: 1.5rem 4rem;
}

.API_login-botón img {
    width: 2rem;
    height: 2.7rem;
}

.content_footer {
    margin: 2.4rem auto;
    width: 100%;
    bottom: 0;
}

.footer-botón {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem 1.4rem;
    border-radius: 4rem;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
}

.primera_frese {
    margin-right: 1rem;
    color: var(--color-gray-500);
}

@media screen and (min-width: 330px) {
    .content_footer {
        margin: 2.4rem auto;
        width: 100%;
        bottom: 0;
        position: absolute;
    }
}

/* registro */

.botón_atrás {
    margin: 2.4rem 2.4rem 0;
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    -ms-border-radius: 1.2rem;
    -o-border-radius: 1.2rem;
}

.titulo_registro {
    margin: 2.4rem;
}

/* restablecer */
.content_restablecer .content-titulo .titulo_restablecer {
    font-size: 4rem;
}

.botón_reenviar {
    margin: 11.4rem auto;
}

.footer_subtitulo {
    font-family: var(--font-Urbanist);
    font-size: 2.4rem;
    color: var(--colo-gray-600);
}