.main-contenedor {
    width: 32%;
}

.titulo-login {
    margin: 2rem;
}

.form-input, .login-items-button {
    font-size: 1.8rem;
    padding: 0 2rem 0 2rem;
}

.form-input::placeholder {
    font-size: 2rem;
}

.Sign-In , .login-items-button{
    font-size: 2rem;
}

.separador{
    margin: 2rem;
}

.link{
    margin-left: 4rem;
}

.login-items-button img{
    width: 3rem;
}

.login-items-button p{
    margin-left: 0.4rem;
}

.registrar{
    margin: 2rem;
}
